/* style.css */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Adjust as needed */
  z-index: 1000; /* Ensure it stays on top of other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
ul {
  list-style-type: disc;
  margin-left: 5px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px; 
}

h1 {
  margin: 0;
  padding: 0px;
  text-align: left;
  font-size: 1.5em;
}

.basic-content {
  text-align: left;
  flex: 1;
  display: none;
  background-color: #2c2c2c;
  flex-direction: column;
  align-items: center;
  padding-left: 33%;
  padding-right: 33%;
}

.advanced-content {
  flex: 1;
  display: none;
  background-color: #2c2c2c;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  display: flex;
  background-color: #2c2c2c;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  margin: 20px 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #555;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 200px;
}

.button:hover {
  background-color: #666;
}

.wave-container a img {
  z-index: 2; /* Higher z-index to place it in front of the wave */
  position: relative; /* Ensure the image is positioned relative to its container */
  padding-left: 20px;
}

head, html {
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wave-container {
    position: start;
    background: #00aaff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 2em;
    text-align: left;
    padding-left: 0px;
}

.wave {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSIxMDAiIHZpZXdCb3g9IjAgMCAxNjAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgNDBDMCA0MCAzMjAgMCA4MDAgMEMxMjgwIDAgMTYwMCA0MCAxNjAwIDQwVjEwMEgwVjQwWiIgZmlsbD0iI2ZmZiIvPgo8cGF0aCBkPSJNMTYwMCA0MEMxNjAwIDQwIDEyODAgMCA4MDAgMEMzMjAgMCAwIDQwIDAgNDBWMTAwSDE2MDBWNDBaIiBmaWxsPSIjMDBhYWZmIiBvcGFjaXR5PSIwLjYiLz4KPHBhdGggZD0iTTAgNDBDMCA0MCAzMjAgMCA4MDAgMEMxMjgwIDAgMTYwMCA0MCAxNjAwIDQwVjEwMEgwVjQwWiIgZmlsbD0iI2ZmZiIgZmlsbC1vcGFjaXR5PSIwLjMiLz4KPC9zdmc+Cg==') repeat-x;
    animation: wave-animation 10s linear infinite;
    z-index: 1;
}

@keyframes wave-animation {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1600px;
    }
}

footer {
  background-color: #444;
  padding: 0px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align at the bottom */
  text-align: center;
  font-size: 0.8em;
}

footer img {
  vertical-align: bottom;
  justify-content: left;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.menu-button div {
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-button.change div:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-button.change div:nth-child(2) {
  opacity: 0;
}

.menu-button.change div:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -6px);
}

#menuContent {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #2c2c2c;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 3;
}

#menuContent a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

#menuContent a:hover {
  background-color: #ddd;
}

#menuContent.show {
  display: block;
}
